__pycache__/

# Virtual Environment
venv/

# Jupyter Notebook
.ipynb_checkpoints

# Docs
docs/_build/

# Folders
main_files/
docs/_build/


# Formats
*.tif
*.dcm
*.log
*.vrml
*.out
*.g4dcm
*.mhd
*.raw

# Files
updateghpages.sh


